#userdasfbtm{
    border: none;
    border-radius: 8px;
    margin-left: 100px;
    margin-top: 200px;
    width: 150px; /* Set your desired width */
    height: 100px; /* Set your desired height */
    font-size: 16px;
}

#title{
    text-align: center; /* Horizontally center the text */
    /*margin-top: 25px;*/
    padding: 25px;
    color: rgb(173, 15, 15);
}

#userDash{
        background-image: url('../images/bbmHome/bbm5.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}